@model DataAccess.Entities.Post

    <a class="edit-btn" href="#" data-action="/Posts/Edit" data-id="@Model.Id">Edit</a>
    <a class="text-error" href="@Url.Action("Delete", "Posts", new { Id = Model.Id })">Delete</a>
    @if (!Model.IsApproved)
    {
        <a class="text-gray" href="@Url.Action("Approve", "Posts", new { Id = Model.Id })">Approve</a>
    }
    else
    {
        <span class="text-success"><em>Approved</em></span>
    }
