@model DataAccess.Entities.Post

<article class="card post">
    <div class="card-image">
        <img src="~/Content/img/reddit-blue.jpg" class="img-responsive">
    </div>
    <div class="card-header">
        <a class="card-title h4 text-dark" href="/Comments?PostId=@Model.Id">
            @Model.Title
        </a>
        <div class="card-subtitle h5 text-gray">
            /r/@Model.SubReddit.Name
        </div>
    </div>
    <div class="card-body">
        <span>by /u/@Model.User.Username</span>
        <span style="position: relative; top: 5px;" class="h3">&#183;</span>
        <span>@(Math.Round((DateTime.Now - Model.CreationDate).TotalHours))h ago</span>
        <p></p>
    </div>
    <div class="card-footer">
        <div class="post-info d-inline-block">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
            <span>@Model.Rating</span>
            <a href="#"><i class="fas fa-arrow-down"></i></a>
            &nbsp;
            &nbsp;
            <span><i class="fas fa-comment-alt"></i>&nbsp;@Model.Comments.Count()</span>
        </div>
        <div class="post-vote float-right d-inline-block">
            <button class="btn btn-success btn-block">share</button>
        </div>
    </div>
</article>
