@model DataAccess.Entities.Post

<article class="card post">
    <div class="card-image">
        <img src="~/Content/img/reddit-blue.jpg" class="img-responsive">
    </div>
    <div class="card-header">
        <a class="card-title h4 text-dark" href="/Comments?PostId=@Model.Id">
            @Model.Title
        </a>
        <div class="card-subtitle h5">
            /r/@Model.SubReddit.Name
        </div>
    </div>
    <div class="card-body">
        <span>by /u/@Model.User.Username</span>
        <span class="dot">&#183;</span>
        <span>@(Math.Round((DateTime.Now - Model.CreationDate).TotalHours))h ago</span>
    </div>
    <div class="card-footer">
        <div class="post-info float-left d-inline-block">
            @if (Reddit.Models.AuthenticationManager.LoggedUser == null)
            {
                <div class="post-info__votes">
                    <a href="/Home/Login"><i class="fas fa-arrow-up"></i></a>
                    <a href="/Home/Login"><i class="fas fa-arrow-down"></i></a>
                    <span>@Model.Rating</span>
                </div>
            }
            else
            {
                <div class="post-info__votes">
                    @{Html.RenderPartial("~/Views/Partials/_Vote.cshtml", new Reddit.ViewModels.Votes.VoteVM(contentId: Model.Id, type: "Post")); }
                        <span>@Model.Rating</span>
                    </div>
            }
            <div class="post-info__comments">
                <span><i class="fas fa-comment-alt"></i>&nbsp;@Model.Comments.Count()</span>
            </div>
        </div>
        <div class="post-share float-right d-inline-block">
            <button class="btn btn-success btn-block">share</button>
        </div>
    </div>
</article>
