@model Reddit.ViewModels.Home.SearchVM

@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "input-group input-inline" }))
{
    <div class="input-group input-inline">
        @Html.TextBoxFor(m => m.Filter, new { @class = "form-input", @placeholder = "search" })
        @if (Model.Filter.IsEmpty())
        {
        @Html.ValidationMessageFor(m => m.Filter, null, new { style = "color:red" })
        }
        <button class="btn btn-primary input-group-btn" type="submit">search</button>
    </div>
}
