@model Reddit.ViewModels.SubReddit.IndexVM

<div class="input-group input-inline">
    @Html.TextBoxFor(m => m.Filter.Name, new { @class = "form-input", @placeholder = "search" })
    <button class="btn btn-primary input-group-btn">search</button>
</div>