@model Reddit.ViewModels.Votes.VoteVM

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ContentId)
@{ Model.UserId = Reddit.Models.AuthenticationManager.LoggedUser.Id; }
<a href="@Url.Action("Vote", "Votes", new { ContentId = Model.ContentId, UserId = Model.UserId, Value = 1, Type = Model.Type,ContentId2=Model.ContentId2 })"><i class='fas fa-arrow-up' style='font-size:24px'></i></a>
<a href="@Url.Action("Vote", "Votes", new { ContentId = Model.ContentId, UserId = Model.UserId , Value = -1, Type = Model.Type, ContentId2=Model.ContentId2})"><i class='fas fa-arrow-down' style='font-size:24px'></i></a>