@model Reddit.ViewModels.Votes.VoteVM

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ContentId)
@{ Model.UserId = Reddit.Models.AuthenticationManager.LoggedUser.Id; }
<a href="@Url.Action("Vote", "Votes", new { ContentId = Model.ContentId, UserId = Model.UserId, Value = 1, Type = Model.Type })"><i class='fas fa-arrow-up'></i></a>
<a href="@Url.Action("Vote", "Votes", new { ContentId = Model.ContentId, UserId = Model.UserId , Value = -1, Type = Model.Type })"><i class='fas fa-arrow-down'></i></a>