<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link rel="stylesheet" href="~/Content/css/site.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="main-container">
        <header id="header-container">
            <nav style="position: relative;">
                <a class="brand" href="/Home/Index">
                    <img class="logo" src="~/Content/img/reddit.png" alt="reddit logo" />
                    <h1 style="display: inline-block">reddit</h1>
                </a>

                <input id="bmenub" type="checkbox" class="show">
                <label for="bmenub" class="burger pseudo button">&#9776;</label>

                <div class="menu"><a href="/Profile/Index">profile</a>
                    @if (Reddit.Models.AuthenticationManager.LoggedUser == null)
                    {
                        <a href="/Home/Login">login</a>

                    }
                    else
                    {
                        <a href="/Home/Logout">logout</a>
                    }

                    @if (Reddit.Models.AuthenticationManager.LoggedUser == null)
                    {
                        <a href="@Url.Action("Register","Home")">register</a>

                    }

                </div>
            </nav>
        </header>

        <main id="content-container">
            @RenderBody()
        </main>
    </div>
    <footer id="footer-container">
        <h3>&copy; 2019 mvccrew OOD</h3>
    </footer>
</body>
</html>