@model Reddit.ViewModels.SubReddit.IndexVM

@{
    ViewBag.Title = "SubReddits";
}

<section>
    <h1 class="text-center">Subreddits</h1>
    @Html.HiddenFor(model => model.UserId)
    @foreach (var item in Model.Items)
    {
        <div class="tile" style="background: #fff; padding: 0.5rem; margin-bottom: 1rem;">
            <div class="tile-icon">
                <i class="fas fa-globe text-primary"></i>
            </div>
            <div class="tile-content">
                <h5 class="tile-title">/r/@item.Name</h5>
                <p class="tile-subtitle">@item.Description</p>
            </div>
            <div class="tile-action">
                <button class="edit-btn btn-success btn" data-id="@item.Id" data-action="/SubReddit/Edit">edit</button>
                <button class="btn btn-error">delete</button>
                <button class="btn btn-primary">subscribe</button>
            </div>
        </div>
    }

</section>


