@model Reddit.ViewModels.Posts.EditVM
@{
    ViewBag.Title = "Create";
}

@section styles {
    <style>

        .tab-pane {
            display: none;
        }

            .tab-pane.active {
                display: block;
            }
    </style>
}

<ul id="post-tab" class="tab tab-block">
    <li class="tab-item active">
        <a href="#home">Music</a>
    </li>
    <li class="tab-item">
        <a href="#profile">Playlists</a>
    </li>
    <li class="tab-item">
        <a href="#messages">Radio</a>
    </li>
    <li class="tab-item">
        <a href="#settings">Connect</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <h4>Home Panel Content</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iure quos cum, saepe reprehenderit minima quasi architecto numquam nesciunt dicta. Qui excepturi recusandae vitae maiores, inventore sequi? Rerum, odio omnis.</p>
    </div>
    <div class="tab-pane" id="profile">
        <h4>Profile Panel</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iure quos cum, saepe reprehenderit minima quasi architecto numquam nesciunt dicta. Qui excepturi recusandae vitae maiores, inventore sequi? Rerum, odio omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio, tempora incidunt aliquid adipisci, minus rerum optio libero quae provident sed at dignissimos, quia nostrum! Fuga dolorum quia hic magni.</p>
    </div>
    <div class="tab-pane" id="messages">
        <h4>Messages Panel</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quos, at qui aspernatur minus animi hic sunt necessitatibus incidunt molestiae reprehenderit ratione neque odit ipsa. Nemo laborum consequatur adipisci beatae!</p>
    </div>
    <div class="tab-pane" id="settings">
        <h4>Settings Panel</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima possimus sed odit iste vitae, magnam amet illum laudantium ea! Fugiat consectetur consequuntur qui eos obcaecati sequi ipsam repellat vero voluptate.</p>
    </div>
</div>

@section scripts {
    <script>
        function onTabClick(event) {
            let activeTabs = document.querySelectorAll('.active');

            // deactivate existing active tab and panel
            activeTabs.forEach(function (tab) {
                tab.className = tab.className.replace('active', '');
            });

            // activate new tab and panel
            event.target.parentElement.className += ' active';
            document.getElementById(event.target.href.split('#')[1]).className += ' active';
        }

        const element = document.getElementById('post-tab');

        element.addEventListener('click', onTabClick, false);
    </script>
}