@model Reddit.ViewModels.Posts.EditVM
@{
                /**/

                ViewBag.Title = "Create";
}
@section styles {
    <style>


        .tab-pane {
            display: none;
        }

            .tab-pane.active {
                display: block;
            }
    </style>
}
@using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
{
    <div>@Html.DropDownListFor(model => model.SelectedSubReddit, Model.SubRedditsList, "Choose community..") @Html.ValidationMessageFor(model => model.SubRedditId)</div>
    <ul id="post-tab" class="tab tab-block">
        <li class="tab-item active">
            <a href="#home">Post</a>
        </li>
        <li class="tab-item">
            <a href="#profile">Image&Video</a>
        </li>
        <li class="tab-item">
            <a href="#messages">Link</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <form>
                <div class="form-group">
                    <input class="form-input" type="text" id="input-example-1" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea class="form-input" id="input-example-3" placeholder="Text (optional)" rows="3"></textarea>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="profile">
            <form>
                <div class="form-group">
                    <input class="form-input" type="text" id="input-example-1" placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-input" id="input-example-16" type="file">
                </div>
            </form>
        </div>
        <div class="tab-pane" id="messages">
            <form>
                <div class="form-group">
                    <input class="form-input" type="text" id="input-example-1" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea class="form-input" id="input-example-3" placeholder="Url" rows="3"></textarea>
                </div>
            </form>
        </div>
    </div>
}

@section scripts {
    <script>
        function onTabClick(event) {
            let activeTabs = document.querySelectorAll('.active');

            // deactivate existing active tab and panel
            activeTabs.forEach(function (tab) {
                tab.className = tab.className.replace('active', '');
            });

            // activate new tab and panel
            event.target.parentElement.className += ' active';
            document.getElementById(event.target.href.split('#')[1]).className += ' active';
        }

        const element = document.getElementById('post-tab');

        element.addEventListener('click', onTabClick, false);
    </script>
}