@model Reddit.ViewModels.Posts.IndexVM

@{
    ViewBag.Title = "Index";
}

@section styles
{
    <link href="~/Content/css/home.css" rel="stylesheet" />
}
<div>

    <table>
        <tr>
            <td>
                <h1 style="font-size:26px;">Posts</h1>
            </td>
        </tr>
        <tr>
            <td>
                <a class="button is-outlined is-info navbar-item" href="@Url.Action("Subscribe", "SubReddit", new { Id = Model.SubRedditId })">Subscribe</a>
            </td>
        </tr>
        <tr>
            @Html.HiddenFor(m => m.UserId)
            @{ Model.UserId = Reddit.Models.AuthenticationManager.LoggedUser.Id; }
            @{ Model.User = Reddit.Models.AuthenticationManager.LoggedUser; }
            <td>
                <section class="columns post-group" id="posts">
                    <br /><hr />@Model.SubReddit.Name <br /><hr />
                    @foreach (var item in Model.Posts)
                    {
                        if (item.SubRedditId == Model.SubRedditId)
                        {
                            { Html.RenderPartial("~/Views/Partials/_Post.cshtml", item); }
                        }
                    }
                </section>
            </td>
        </tr>
    </table>
    <div style="float:right;margin-left:20px;">
        <p>Community Details</p>
        <p>/r/@Model.SubReddit.Name</p>
        <p>Subscribers:@Model.SubReddit.SubscribedUsers.Count()</p>
        <p>Theme:@Model.SubReddit.Theme</p>
        <p>Description:@Model.SubReddit.Description</p>
        <p>@Model.SubReddit.Rules</p>
    </div>
</div>


