@model Reddit.ViewModels.Posts.IndexVM

@{
    ViewBag.Title = "Index";
}

@section styles
{
    <link href="~/Content/css/subreddit.css" rel="stylesheet" />
}

@Html.HiddenFor(m => m.UserId)
@{ Model.UserId = Reddit.Models.AuthManager.LoggedUser.Id; }
@{ Model.User = Reddit.Models.AuthManager.LoggedUser; }
<section class="columns post-group">
    <!-- <br /><hr />@Model.SubReddit.Name <br /><hr />-->
    @foreach (var item in Model.Posts)
    {
        if (item.SubRedditId == Model.SubRedditId)
        {
            { Html.RenderPartial("~/Views/Partials/_Post.cshtml", item); }
        }
    }
</section>

@{ Html.RenderPartial("~/Views/Partials/_SubRedditDetails.cshtml", Model); }