@model Reddit.ViewModels.Home.PostIndexVM

@{
    ViewBag.Title = "reddit";
}

@section styles
{
    <link href="~/Content/css/home.css" rel="stylesheet" />
}

<section class="columns post-group" id="frontpage">
    @if (Reddit.Models.AuthenticationManager.LoggedUser != null)
    {

        foreach (var subscribedSubreddit in Model.SubReddits)
        {
            foreach (var post in Model.Posts.Where(p => p.SubRedditId == subscribedSubreddit.Id))
            {
                Html.RenderPartial("~/Views/Partials/_Post.cshtml", post);
            }
        }
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            <span>@{ Html.RenderPartial("~/Views/Partials/_Post.cshtml", post); }</span>
        }
    }
</section>