@model Reddit.ViewModels.Home.PostIndexVM

@{
    ViewBag.Title = "reddit";
}

<section class="columns" id="frontpage">
    @if (Reddit.Models.AuthenticationManager.LoggedUser != null)
    {

        foreach (var subscribedSubreddit in Model.SubReddits)
        {
            foreach (var post in Model.Posts.Where(p => p.SubRedditId == subscribedSubreddit.Id))
            {
                Html.RenderPartial("~/Views/Partials/_Post.cshtml", post);
            }
        }
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            Html.RenderPartial("~/Views/Partials/_Post.cshtml", post);
        }
    }
</section>