.post-group {
    flex-basis: 32rem;
    margin: 0;
}

.post {
    width: 100%;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
}
    .post .card-title {
        font-weight: 600;
    }

    .post .content-text {
        text-align: justify;
    }

    .post .content-img {
        max-height: 25rem;
        margin: 0 auto;
    }

    .post .dot {
        position: relative;
        top: 5px;
        font-size: 1.4rem;
    }

    .post .post-info {
        font-size: 0.9rem;
        padding-top: 9px;
        display: flex;
    }

    .post-info__comments {
        margin: 0 0.7rem;
    }
    
    .post-info__mod-tools > * {
        margin-left: 0.4rem;
    }

#frontpage-aside {
    flex-basis: 15.5rem;
    margin-left: 1.2rem;
}

    #frontpage-aside .main-panel .panel-header {
        padding: 0.9rem;
        background: url('../img/reddit-banner.jpg') center center no-repeat;
        background-size: cover;
    }

    #frontpage-aside .main-panel:not(.panel-header) {
        background-color: #fff;
    }

    #frontpage-aside .main-panel .panel-body {
        margin-top: 0.6rem;
    }

    #frontpage-aside .main-panel .panel-body p {
        margin: 0.6rem 0 0.2rem 0;
    }

    #frontpage-aside .main-panel .panel-footer a:nth-child(2) {
        margin-top: 0.4rem;
    }

    #frontpage-aside .secondary-panel {
        background: #fff;
        margin-top: 1.5rem;
    }

    #frontpage-aside .secondary-panel .panel-body .tile {
        margin: 0.2rem 0;
    }

    #frontpage-aside .secondary-panel .tile-icon {
        font-size: 1.5rem;
    }



@media only screen and (min-width: 577px) and (max-width : 768px) {
    .post-group {
        float: none;
        margin: 0 auto;
    }
}

@media only screen and (max-width : 576px) {
    .post-group {
        float: none;
        margin: 0 auto;
    }
}