.post-group {
    float: left;
    width: 100%;
    max-width: 32rem;
    margin: 0;
}

.post {
    width: 100%;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
}

    .post .card-subtitle {
        color: #ebe6e6;
    }

    .post .dot {
        position: relative;
        top: 5px;
        font-size: 1.4rem;
    }

    .post .post-info {
        font-size: 0.9rem;
        padding-top: 9px;
        display: flex;
    }

    .post-info__comments {
        margin-left: 0.7rem;
    }

aside {
    float: right;
}

aside a {
    display: block;
}