@import url('components/post.css');
@import url('components/aside-img.css');

.columns {
    margin: 0;
}

.main-panel .panel-header {
    background: url('../img/reddit-banner.jpg') top center no-repeat;
    background-size: cover;
}

.main-panel .tile .tile-subtitle {
    margin: -0.2rem 0 0.4rem 0;
}

    .main-panel .tile .tile-subtitle i {
        margin-right: 0.2rem;
    }

.secondary-panel {
    padding-bottom: 0.3rem;
}
