@import url('components/post.css');

#subreddit-aside {
    flex-basis: 15.5rem;
    margin-left: 1.2rem;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.main-panel {
    margin-bottom: 1.5rem;
}

    .main-panel .panel-header {
        padding: 0.4rem 0.4rem 0.4rem 0.6rem;
    }

    .main-panel:not(.panel-header) {
        background-color: #fff;
    }

    .main-panel .panel-body {
        margin-top: 0.6rem;
    }

    .main-panel:first-child .panel-body p {
        margin: 0.6rem 0 0.2rem 0;
    }

.sub-name .tile-icon {
    font-size: 1.5rem;
}

.sub-name .tile-content {
    padding-top: 0.2rem;
}

.members {
    margin-top: 0.6rem;
}

    .members .tile-content p {
        margin: 0;
    }

.main-panel .panel-footer a:nth-child(2) {
    margin-top: 0.4rem;
}
